#container {
	font-family: 'Inter', sans-serif;
	background: linear-gradient(to top, #375534, black);
	color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	text-align: center;
}

/* Intestazione */
#header {
	margin-bottom: 30px;
	margin-top: 16vh;
}

#titolo {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 10px;

}

#header p {
	font-size: 1.2rem;
	max-width: 600px;
	margin: auto;
	color: #dcdcdc;
}

#opzioni {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1000px;
}

.card {
	background: #1d1d1d;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	width: 280px;
	cursor: pointer;
	text-align: center;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.card h2 {
	font-size: 1.5rem;
	margin-bottom: 8px;
}

.card p {
	font-size: 1rem;
	color: #dcdcdc;
}
