@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

#spotifyThings {
	background: linear-gradient(to bottom, #375534, #1a1313);
	/* background-color: #121212; */
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
	
}

#HomePage {
	text-align: center;
	color: white;
	max-width: 400px;
	padding: 20px;
	background-color: #1c1c1c;
	border-radius: 15px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

#img {
	width: 150px;
	margin-bottom: 20px;
}

#titolo {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 10px;
}

h4 {
	font-size: 16px;
	font-weight: 400;
	color: #b3b3b3;
	margin-bottom: 20px;
}

.btn {
	background-color: #1DB954;
	border: none;
	border-radius: 25px;
	color: rgb(0, 0, 0);
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	padding: 10px 20px;
	transition: background-color 0.3s ease, transform 0.2s ease;
}
 
.btn:hover {
	background-color: #1ed760;
	transform: scale(1.05);
}
 
.btn:active {
	transform: scale(0.95);
}

#piede{
	background-color: #1a1313;
	color: #b3b3b3;
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
}

#nomi{
	font-size: 14px;
	color: #f5f5fa;
}