#contanier{
	background: linear-gradient(to top, #375534, #1a1313);
	font-family: 'Inter', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}

#titolo {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 20px;
	color: #d7ff27;
}
