#container {
	background-color: #121212;
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: white;
	text-align: center;
}

.login-box {
	background: rgba(0, 0, 0, 0.8);
	padding: 40px;
	border-radius: 15px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	max-width: 400px;
	width: 100%;
	margin-top: 200px;
}

.img {
	width: 150px;
	margin-bottom: 20px;
}

.btn {
	background-color: #1DB954;
	border: none;
	border-radius: 25px;
	color: rgb(0, 0, 0);
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	padding: 10px 20px;
	transition: background-color 0.3s ease, transform 0.2s ease;
}
 
.btn:hover {
	background-color: #1ed760;
	transform: scale(1.05);
}
 
.btn:active {
	transform: scale(0.95);
}

.privacy-text {
	margin-top: 20px;
	font-size: 14px;
	color: #bbb;
}
.privacy-text a {
	color: #1DB954;
	text-decoration: none;
}

.privacy-text a:hover {
	text-decoration: underline;
}
