.DashBoard {
	font-family: 'Inter', sans-serif;
	padding: 20px;
	background: linear-gradient(to top, #375534, #1a1313);
	color: #333;
 }
 
 #titolo {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 20px;
	color: #d4d3d3;
 }

.artisti-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
	padding: 10px;
 }
 
 /* Stile per ogni card artista */
.cardArtista {
	background: #0e0e13;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	transition: transform 0.3s ease;
	height: 400px;
	width: 300px;
	margin: 10px;
}

 
 .cardArtista:hover {
	transform: translateY(-10px);
 }
 
 /* Immagine artista */
 .artista-img {
	width: 100%;
	height: 200px;
	object-fit: cover;
 }
 
 /* Informazioni artista */
 .artista-info {
	padding: 15px;
 }
 
 .artista-name {
	font-size: 1.5rem;
	color: #F5F5FA;
	margin-bottom: 10px;
 }
 
 .artista-followers,
 .artista-genres {
	font-size: 0.9rem;
	color: #e7e7e9;
	margin: 5px 0;
 }
 
 /* Link al profilo Spotify */
 .artista-link {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 10px;
 }

 #frecce {
	position: fixed;          /* Posiziona il div in modo fisso rispetto alla finestra */
	top: 20px;                /* Distanza dal bordo superiore */
	left: 20px;               /* Distanza dal bordo sinistro */
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7); /* Sfondo scuro con trasparenza */
	border-radius: 50%;      /* Rende il div rotondo */
	width: 50px;             /* Imposta una larghezza fissa */
	height: 50px;            /* Imposta un'altezza fissa */
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Aggiungi un'ombra per dare profondità */
}

#freccia{
	font-size: 2rem;
	color: white;            /* Colore bianco per la freccia */
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 10px;
	border-radius: 50%;      /* Rende il bottone rotondo */
	width: 100%;             /* Rende il bottone largo quanto il div */
	height: 100%;            /* Rende il bottone alto quanto il div */
}
